{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="HTML5 Template" />
    <meta
      name="description"
      content="Webster - Responsive Multi-purpose HTML5 Template"
    />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Ecomm | {% block title %}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" />

    <!-- font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800"
    />

    <!-- Plugins -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/plugins-css.css' %}"
    />

    <!-- revoluation -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'revolution/css/settings.css' %}"
      media="screen"
    />

    <!-- Typography -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/typography.css' %}"
    />

    <!-- Shortcodes -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/shortcodes/shortcodes.css' %}"
    />

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}" />

    <!-- Responsive -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/responsive.css' %}"
    />
  </head>

  <body>
    <div class="wrapper">
      <!--=================================
 preloader -->

      <div id="pre-loader">
        <img src="{%static 'images/pre-loader/loader-01.svg' %}" alt="" />
      </div>

      <!--=================================
 preloader -->

      <!--=================================
 header -->

      <header id="header" class="header default">
        <!--=================================
 mega menu -->

        <div class="menu">
          <!-- menu start -->
          <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 position-relative">
                    <!-- menu logo -->
                    <ul class="menu-logo">
                      <li>
                        <a href="index-01.html"
                          ><img
                            id="logo_img"
                            src="{%static 'images/logo.png' %}"
                            alt="logo"
                          />
                        </a>
                      </li>
                    </ul>
                    <!-- menu links -->
                    <div class="menu-bar">
                      <ul class="menu-links">
                        <li>
                          <li><a href="{% url 'home' %}">Home</a></li>
                        </li>

                        <li>
                         <li><a href="{% url 'about' %}">About</a></li>
                        </li>
                        <li>
                          <a href="javascript:void(0)"
                            >Products<i
                              class="fa fa-angle-down fa-indicator"
                            ></i
                          ></a>
                          <!-- drop down multilevel  -->
                          <ul class="drop-down-multilevel">
                            
                            {% for sub_product in SubProducts %}
                              <li><a href="{% url 'product' sub_product.pk %}">{{ sub_product.name }}</a></li>
                            {% endfor %}

                          </ul>
                        </li>
                        <li>
                          <li><a href="{% url 'contact' %}">Contact</a></li>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </nav>
          <!-- menu end -->
        </div>
      </header>

      <!--=================================
 header -->

      <!--=================================
 banner -->
      {% block main-content %} {% endblock main-content %}
      <!--=================================
 footer -->

      <footer id="footer-fixed" class="footer black-bg">
        <div class="page-section-pt">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 sm-mb-30">
                <div class="footer-logo">
                  <img
                    id="logo-footer"
                    class="mb-20"
                    src="{%static 'images/logo.png' %}"
                    alt=""
                  />
                  <p class="pb-10">
                    Webster is the most enticing, creative, modern and
                    multipurpose Premium HTML5 Template suitable for any
                    business or corporate websites. Build whatever you like with
                    the Webster. It has endless possibilities for creating
                    stunning websites no matter what type of business is!
                  </p>
                </div>
                <div class="social-icons color-hover">
                  <ul>
                    <li class="social-facebook">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social-twitter">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="social-dribbble">
                      <a href="#"><i class="fa fa-dribbble"></i> </a>
                    </li>
                    <li class="social-linkedin">
                      <a href="#"><i class="fa fa-linkedin"></i> </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 sm-mb-30">
                <div class="footer-useful-link footer-hedding">
                  <h6 class="text-white mb-30 mt-10 text-uppercase">
                    Navigation
                  </h6>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 xs-mb-30">
                <div class="footer-useful-link footer-hedding">
                  <h6 class="text-white mb-30 mt-10 text-uppercase">
                    Useful Link
                  </h6>
                  <ul>
                    <li><a href="#">Create Account</a></li>
                    <li><a href="#">Company Philosophy</a></li>
                    <li><a href="#">Corporate Culture</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Client Management</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <h6 class="text-white mb-30 mt-10 text-uppercase">
                  Contact Us
                </h6>
                <ul class="addresss-info">
                  <li>
                    <i class="fa fa-map-marker"></i>
                    <p>Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:7042791249"> <span>+(704) 279-1249 </span> </a>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o"></i>Email: letstalk@webster.com
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-widget mt-20">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p class="mt-15">
                    &copy;Copyright
                    <span id="copyright">
                      <script>
                        document
                          .getElementById("copyright")
                          .appendChild(
                            document.createTextNode(new Date().getFullYear())
                          );
                      </script></span
                    >
                    <a href="#"> Webster </a> All Rights Reserved
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!--=================================
 footer -->
    </div>

    <div id="back-to-top">
      <a class="top arrow" href="#top"
        ><i class="fa fa-angle-up"></i> <span>TOP</span></a
      >
    </div>

    <!--=================================
 jquery -->

    <!-- jquery -->
    <script src="{%static 'js/jquery-3.6.0.min.js' %}"></script>

    <!-- plugins-jquery -->
    <script src="{%static 'js/plugins-jquery.js' %}"></script>

    <!-- plugin_path -->
    <script>
      var plugin_path = "{% static 'js/' %}";
    </script>

    <!-- REVOLUTION JS FILES -->
    <script src="{%static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{%static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="{%static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{%static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <!-- revolution custom -->
    <script src="{%static 'revolution/js/revolution-custom.js' %}"></script>

    <!-- custom -->
    <script src="{%static 'js/custom.js' %}"></script>
  </body>
</html>
